<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarPedagogaServlet</servlet-name>
        <servlet-class>servlet.CadastrarPedagogaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPedagogaServlet</servlet-name>
        <servlet-class>servlet.AlterarPedagogaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirAlunos</servlet-name>
        <servlet-class>tests.InserirAlunos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>tests.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarRegistroServlet</servlet-name>
        <servlet-class>servlet.ListarRegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarPedagogaServlet</servlet-name>
        <url-pattern>/CadastrarPedagogaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPedagogaServlet</servlet-name>
        <url-pattern>/AlterarPedagogaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAlunos</servlet-name>
        <url-pattern>/InserirAlunos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarRegistroServlet</servlet-name>
        <url-pattern>/ListarRegistroServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
